body {
        padding-top: 60px;
      }
  
      .row {
        /*border: solid;*/
      }

      div.container-hidden {
        /*display: none;*/
      }

    #breakdown_chart {
    width: 500px;
    height: 500px;
    }

      svg.general {
        display: block;
        height: 300px;
        min-width: 100px;
        min-height: 100px;
      /*
        margin: 10px;
        Minimum height and width is a good idea to prevent negative SVG dimensions...
        For example width should be =< margin.left + margin.right + 1,
        of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
      */
      }

      .top-nav {
        background-color: #563d7c;
        border-color: #463265;
      }

      .top-nav .navbar-toggle {
        border-color: #563d7c;
      }

      .top-nav .navbar-collapse {
        border-color: #463265;
      }

      .top-nav .navbar-brand {
        color: #fff;
      }
      .top-nav .navbar-nav > li > a {
        color: #cdbfe3;
      }

      .top-nav .navbar-nav > .active > a, .top-nav .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: #463265;
      }

      @media screen and (min-width: 1200px)
      .bs-sidebar.affix-bottom, .bs-sidebar.affix {
        width: 263px;
      }

      .yui3-widget-hd{
      display: none;
    }
    .yui3-datatable-table{ 
    width:100%;
    }
      
    a:hover{
    text-decoration: none;
  }                 
/*
.nvd3.nv-scatterChart .nv-x.nv-axis line {
  stroke: none;
  fill: none;
}

.nvd3.nv-scatterChart .nv-y.nv-axis line {
  stroke: none;
  fill: none;
}

.nvd3 .nv-y.nv-axis line {
  stroke: none;
  fill: none;
}

.nvd3 .nv-x.nv-axis line {
  stroke: none;
  fill: none;
}
*/
  .main_container {
    margin-right: 150px;
    margin-left: 150px;
  }



.yui3-js-enabled .yui3-overlay-loading {
    top: -1000em;
    left: -1000em;
    position: absolute;
}
/* Overlay Look/Feel */
.yui3-overlay-content {
  
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #563d7c;
    opacity: 1.0;
    
}

.my-overlay {
  height: 100%;
}

.yui3-overlay-content .yui3-widget-hd {
    height: 45%;
    /*
    background-color: #B6BFDA;  
    
    color: #30418C;
    font-size: 120%;
    font-weight: bold;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 2px 2px 0 0;
    */
    
}

.yui3-overlay-content .yui3-widget-bd {
    padding: 0.4em 0.6em 0.5em;
}

.yui3-overlay-content .yui3-widget-ft {
    /*
    background-color:#DFE3F5;
    padding: 0.4em 0.6em 0.5em;
    border-radius: 0 0 2px 2px;
    */
    height: 45%;
}

.navbar .btn-primary {
  font-weight: normal;
  background-color: #563d7c;
  border-color: #563d7c;
  color: #cdbfe3;
  font-size: 18px;

}

.navbar .btn-primary:hover {
  font-weight: normal;
  background-color: #563d7c;
  border-color: #563d7c;
  color: #ffffff;
}

.navbar .btn-primary.active {

  background-color: #463265;
  border-color: #563d7c;
  color: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.view-title {
  font-size: x-large;
  

}

.panel {
  border : none;
}

.panel-heading {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-color: #cdbfe3;
  border-bottom-style: solid;
  color: #563d7c;

}
/*
.purple-icon {
  color: #563d7c;
}
*/
.light-purple-icon {
  color: #cdbfe3;
}

.gray-icon {
  color: #C0C0C0;
}

.show-table-button, .sort-button {
  font-size: medium;

}
.header-option {
  margin-top: 5px;
}

.show-table-button:hover, .icon-resize-full:hover {
  color: #563d7c; 
}

.show-table-button, .icon-resize-full {
  color: #cdbfe3; 
  font-weight: bold;
}

/** Generated by FG **/
@font-face {
  font-family: 'Conv_Walkway_SemiBold';
  src: url('../fonts/Walkway_SemiBold.eot');
  src: local('☺'), url('../fonts/Walkway_SemiBold.woff') format('woff'), url('../fonts/Walkway_SemiBold.ttf') format('truetype'), url('../fonts/Walkway_SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
  
}

svg text {
  
  font-family: 'Ubuntu', sans-serif;
}

.nvtooltip {
  font-family: 'Ubuntu', sans-serif;
  font-size: small;
}

.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.nv-legend-text {
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: small;
}



/*
    Custom Skin for YUI Datatable and Overlay
*/

body {
    background-color: #ffffff;
}

/* basic skin styles */
.yui3-skin-k2 .yui3-datatable-table {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    /* IE7- doesn't support border-spacing, but separate is needed for more
     * reliable dimension calculation for scrollable's header width sync,
     * and it doesn't hurt to have the declaration here.
     */
    /**border-collapse: collapse;*/
    border: solid 1px #ededed;
}

.yui3-skin-k2 .yui3-datatable-caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0em; /*1em 0;*/
    text-align: center;
}

.yui3-skin-k2 .yui3-datatable-cell {
    /*background-color: #fafafa;*/
    color: #4f4f4f;
}
.yui3-skin-k2 .yui3-datatable-cell,
.yui3-skin-k2 .yui3-datatable-header {
    border-left: 1px solid #ededed; /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make this work where the title is really long */
    padding: 0.3em 0.6em;
}
.yui3-skin-k2 .yui3-datatable-cell:first-child,
.yui3-skin-k2 .yui3-datatable-first-header {
    border-left-width: 0px;
}

.yui3-skin-k2 .yui3-datatable-header {
    
    background-color: #f4f5f5;
    color: #444b4b;
    line-height: 2;
    /*font-weight: normal;*/
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.yui3-skin-k2 .yui3-datatable-even .yui3-datatable-cell {
    background-color: #FFF;
}
.yui3-skin-k2 .yui3-datatable-odd  .yui3-datatable-cell  {
    background-color: #F9F9F9;
    color: #2e2e2e;
}
/************************  sortable ***************/
.yui3-skin-k2 .yui3-datatable-sortable-column {
    cursor: pointer;
}

/* this seems to be just the header of a sorted column */
.yui3-skin-k2 .yui3-datatable-columns .yui3-datatable-sorted,
.yui3-skin-k2 .yui3-datatable-sortable-column:hover {
    background-color: #f4f5f5;
    color: #444b4b;
}

.yui3-skin-k2 .yui3-datatable-sort-liner {
    display: block;
    height: 100%;
    position: relative;
    padding-right: 15px;
    position: relative;
}

.yui3-skin-k2 .yui3-datatable-sort-indicator {
    position: absolute;
    right: 0;
    bottom: .5ex;
    width: 7px;
    height: 10px;
    background: url(assets/images/sort-arrow-sprite.png) no-repeat 0 0;
    _background: url(assets/images/sort-arrow-sprite-ie.png) no-repeat 0 0;
    overflow: hidden;
}

.yui3-skin-k2 .yui3-datatable-sorted .yui3-datatable-sort-indicator {
    background-position: 0 -10px;
}
.yui3-skin-k2 .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
    background-position: 0 -20px;
}

.yui3-skin-k2 .yui3-datatable-data .yui3-datatable-even .yui3-datatable-sorted {
    background-color: #f4f5f5;
    color: #2b3131;
}

.yui3-skin-k2 .yui3-datatable-data .yui3-datatable-odd .yui3-datatable-sorted {
    background-color: #e4e7e7;
}

/* added */
.yui3-skin-k2 .yui3-datatable-columns .yui3-datatable-sorted {
    background-color: #f4f5f5;
}


/** from overlay-core.css ***************************/
.yui3-overlay {
    position:absolute;
}

.yui3-overlay-hidden {
    visibility:hidden
}

.yui3-widget-tmp-forcesize .yui3-overlay-content {
    overflow:hidden !important;
}

/** added ***************************************/
.yui3-skin-k2 .yui3-overlay-content .yui3-widget-hd,
.yui3-skin-k2 .yui3-overlay-content .yui3-widget-bd,
.yui3-skin-k2 .yui3-overlay-content .yui3-widget-ft {
    background-color: #fafafa;
    border: solid 1px #ededed;
    border-bottom: none;
    padding: 0.3em 0.5em;
    color: #4f4f4f;
}
.yui3-skin-k2 .yui3-overlay-content .yui3-widget-ft {
    border-bottom: solid 1px #ededed;
}

/** from panel-core.css *****************************************/
.yui3-panel {
    position: absolute;
}
.yui3-panel-hidden {
    visibility: hidden;
}
.yui3-widget-tmp-forcesize .yui3-panel-content {
    overflow: hidden !important;
}
.yui3-panel .yui3-widget-hd {
    position: relative;
}
.yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.yui3-panel .yui3-widget-ft .yui3-widget-buttons {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

/** from panel-skin.css (sam)***************************************/
.yui3-skin-k2 .yui3-panel-content {
    -webkit-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    -moz-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
    border: solid 1px #e4e7e7;
    background-color: #ffffff;
    color: #4f4f4f;
    border-radius: 4px;
}
.yui3-skin-k2 .yui3-panel .yui3-widget-hd {
    padding: 0.5em; /* Room for close button. */
    padding-right: 40px; /* Room for Close button */
    min-height: 13px;           /* For the close button */
    _height: 13px;              /* IE6 */
    color: #444b4b;
    background: background:    -moz-linear-gradient(top, rgba(252, 253, 253, 0.3) 0%, rgba(244, 245, 245, 0) 49%, rgba(244, 245, 245, 0) 51%, rgba(188, 194, 194, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 253, 253, 0.3)), color-stop(49%, rgba(244, 245, 245, 0)), color-stop(51%, rgba(244, 245, 245, 0)), color-stop(100%,rgba(188, 194, 194, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 253, 253, 0.3) 0%, rgba(244, 245, 245, 0) 49%, rgba(244, 245, 245, 0) 51%, rgba(188, 194, 194, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 253, 253, 0.3) 0%, rgba(244, 245, 245, 0) 49%, rgba(244, 245, 245, 0) 51%, rgba(188, 194, 194, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 253, 253, 0.3) 0%, rgba(244, 245, 245, 0) 49%, rgba(244, 245, 245, 0) 51%, rgba(188, 194, 194, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 253, 253, 0.3) 0%, rgba(244, 245, 245, 0) 49%, rgba(244, 245, 245, 0) 51%, rgba(188, 194, 194, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #f4f5f5;
    border-radius: 4px 4px 0 0;


    /*
    TODO: Add support for IE and W3C gradients
    */
}
.yui3-skin-k2 .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 0.2em;
}
.yui3-skin-k2 .yui3-panel .yui3-widget-bd {
    padding: 0.5em;
}
.yui3-skin-k2 .yui3-panel .yui3-widget-ft {
    background: #f4f5f5;
    padding: 0.5em;
    text-align: right;
    border-radius: 0 0 4px 4px;
}
.yui3-skin-k2 .yui3-panel .yui3-widget-ft .yui3-button {
    margin-left: 8px;
}

/*
Support for icon-based [x] "close" button in the header.

Nicolas Gallagher: "CSS image replacement with pseudo-elements (NIR)"
http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/
*/
.yui3-skin-k2 .yui3-panel .yui3-widget-hd .yui3-button-close {
    /* Reset base button styles */
    background: transparent;
    filter: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* Structure */
    width: 13px;
    height: 13px;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    /* IE less than 8 :( */
    *font-size: 0;
    *line-height: 0;
    *letter-spacing: -1000px;
    *color: #86A5EC;
    *background: url(assets/images/sprite_icons.png) no-repeat 1px 1px;
}
.yui3-skin-k2 .yui3-panel .yui3-widget-hd .yui3-button-close:before {
    /*
    Displays the [x] icon in place of the "Close" text.
    Note: The `width` of this pseudo element is the same as its "host" element.
    */
    content: url(assets/images/sprite_icons.png);
    display: inline-block;
    text-align: center;
    font-size: 0;
    line-height: 0;
    width: 13px;
    margin: 1px 0 0 1px;
}
.yui3-skin-k2 .yui3-panel-hidden .yui3-widget-hd .yui3-button-close {
    /* Required for IE > 7 to deal with pseudo :before element */
    display: none;
}

.yui3-skin-k2 .yui3-widget-mask {
    background-color: #000000;
    opacity: 0.4;
}
